---
const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <slot>

    </slot>
</body>
</html>

<style lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inclusive+Sans:ital@0;1&family=Poppins:wght@300;400;500;600;700;800&display=swap');
    * {
        font-family: 'Dela Gothic One', cursive;
        font-family: 'Inclusive Sans', sans-serif;
        padding: 0 60px;
    }
    h1{
        background-color: tomato;
        &:hover {
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
</style>